<head>
  <title>Triconium.com</title>
  <link href="/stylesheets/center.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/pygments.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
  <!--[if lt IE 8]>
      <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <![endif]-->
  <script type="text/javascript" src="http://use.typekit.com/lmp3bid.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body class="bp center">
  <div class="container">
    <div class="content {{ page.title | downcase }}">
      {{ content }}
    </div>
  </div>
</body>